/* Temperature page */

.temp-table th,
.temp-table td {
    text-align: center;
}

.temp-tbl-btn {
    padding-top: 4.5%;
}

.btn-temp-past {
    margin-top: 6%;
}

label.col-sm-1 {
    padding-top: 0.5%;
}

.frm-search-pt {
    padding-top: 2.5%;
}